.map {
    background: #eee;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* L.control-layers position */

.leaflet-left .leaflet-control-layers {
	margin-left: 100px;
}


/* Scale position */

.leaflet-left .leaflet-control-scale {
	margin-left: 10px;
}

.leaflet-bottom .leaflet-control-scale {
	margin-bottom: -50px;
}


/* Geocode container */

.leaflet-routing-container {
  position: fixed;
  width: 33.3333%;
  max-width: 300px;
  min-width: 200px;
  padding-right: 0px;
}

.leaflet-routing-geocoders div {
  padding: 4px 0px 4px 0px;
}

.leaflet-routing-geocoder {
  position: relative;
  background-color: white;
  margin: 0px;
}

.leaflet-container button {
  margin: 0 10px 0 0;
  float: left;
  width: 50px;
  height: 50px;
  background-color: white;
}

.leaflet-routing-geocoders button {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  margin: 0;
  margin-right: 3px;
  float: right;
  cursor: pointer;
  background-color: #ccc;
  transition: background-color 0.2s ease;
  border: 0px;
}

.leaflet-routing-add-waypoint {

}

.leaflet-routing-add-waypoint:after {
  content: ' + ';
}

.leaflet-routing-reverse-waypoints:after {
  font-weight: normal;
  content: '\21c5';
}


.leaflet-routing-remove-waypoint {
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  padding-left: 10px;
}

.leaflet-routing-remove-waypoint:after {
  position: absolute;
  display: block;
  width: 15px;
  height: 1px;
  z-index: 1;
  top: 4px;
  bottom: 0;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  content: "\00d7";
  text-align: center;
  cursor: pointer;
  color: #ccc;
  background: white;
  padding-bottom: 16px;
  margin-top: -16px;
  padding-left: 8px;
  line-height: 1;
}

.leaflet-routing-remove-waypoint {
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}


.leaflet-routing-remove-waypoint:hover {
  color: black;
  transition: background-color 0.2s ease;
}


.osrm-directions-inputs {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 45%;
  max-width: 400px;
  min-width: 300px;
}


.osrm-directions-inputs input {
  font-size: 12px;
  width: 75%;
  border: 0;
  background-color: transparent;
  height: 30px;
  margin: 0;
  color: rgba(0,0,0,.5);
  padding: 10px 10px 10px 20px;
}





